<div id="header">
  Flutter
</div>
<div class="feed">
  <div class="form feed-box">
    <textarea name="name" rows="5" cols="80" placeholder="What's on your mind??" #post ngModel></textarea>
    <img class="camera" src="assets/images/camera.png" alt="camera">
    <input class="url-input" type="text" placeholder="Image url" #url ngModel>
    <img class="link-img" src="assets/images/chain.png" alt="link">
    <input class="url-input link" type="text" placeholder="Link url" #link ngModel>

    <div (click)="addPost(post.value, url.value, link.value)" (click)="post.value = ''" (click)="url.value = ''" (click)="link.value = ''" class="submit">Submit</div>
  </div>
  <div class="feed-box" *ngFor="let post of postArray">
    <span>Testing testing 123</span>
    {{post.index}} -
    {{post.text}}
      <div *ngIf="post.image">
        <img class="post-image" src="{{post.image}}" alt="image">
      </div>
      <div class="post-link" *ngIf="post.link">
        <a href="{{post.link}}" target="_blank" >{{post.shortLink}}</a>
      </div>

    <div class="heart-div">
      <div class="likes">{{post.likes}}</div>
      <img class="heart" src="assets/images/heart.png" alt="Heart" (click)="likePost(post)">
        <img class="comment" src="assets/images/comment.png" alt="Comment" (click)="post.boolean = !post.boolean">
       <span class="comments">{{post.comments.length}}</span> <span><input class="comment-input" type="text" placeholder="add comment..." #comment ngModel></span>
      <img class="check" src="assets/images/check.png" alt="check" (click)="addComment(post, comment.value)" (click)="comment.value = ''">
    </div>
    <div class="" *ngIf="post.boolean">
        <div class="comment-div" *ngFor="let comment of post.comments">- {{comment}}</div>
    </div>
  </div>
</div>




<!-- <router-outlet></router-outlet> -->
